body {

    background-image: url(dragon\ de\ fuego\ 2.jpg);
    background-position: center;
    background-repeat: inherit;
    background-size: cover;
    background-attachment: fixed;


}